<html>
	<head>
		<title>angularjs start</title>

		<script type="text/javascript" src="app/components/angular.min.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
	</head>
	<body>
		<!-- controller -->
		<div ng-app="myApp">
			<input ng-model="username">
			<div>{{username}}</div>
			<div ng-controller="ShowMessage">
				<input type="text" ng-model="data.message">
				<b>{{data.message}}</b>
				<b>{{data.title}}</b>
			</div>
			<div ng-controller="ShowContent">
				<input type="text" ng-model="so1">
				<select ng-model="pheptoan">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
				<input type="text" ng-model="so2">
			</select>
			<button ng-click="tinhkq();">Ket qua</button>
			{{kq}}
			</div>
		</div>
	</body>

</html>